.triangle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: -60px 20px 0 340px;
  position: relative;
  transition: transform 0.2s, width 0.2s;
}

main > svg {
  position: absolute;
  top: 21px;
  left: 0px;
  cursor: pointer;
}

main > h2 {
  margin-top: 36px;
  margin-bottom: 12px;
}

main ul {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

main ul li {
  margin-bottom: 2px;
}

main table th {
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}

main table td div {
  margin: 1px;
  width: 24px;
  height: 12px;
  border-radius: 4px;
}

main table td:nth-child(1) { padding-right: 24px }
main table td:nth-child(8) { padding-left: 12px }

main table td div[data-level='0'] { background-color: transparent }
main table td div[data-level='1'] { background-color: rgba(255, 255, 255, 0.2) }
main table td div[data-level='2'] { background-color: rgba(255, 255, 255, 0.5) }
main table td div[data-level='3'] { background-color: rgba(255, 255, 255, 1) }

main > h1 {
  margin-top: 48px;
}

main .filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

main .filters.bottom { margin-bottom: 48px }

main .filters .filter {
  padding: 2px 8px;
  border-radius: 20px;
  background-color: white;
  color: black;
  font-size: 14px;
  cursor: pointer;
  transition-duration: 0.05s;
  user-select: none;
}

main .filters .filter[data-selected='true'] {
  background-color: #006979;
  color: white;
}

main .filters svg {
  cursor: pointer;
  margin-left: 4px;
  opacity: 0.7;
}

main .filters svg:hover { opacity: 1 }

@media screen and (max-width: 1000px) {
  main:not([data-sidebar-showing='true']) {
    transform: translateX(-320px) translateY(60px);
    width: calc(100vw - 40px);
  }

  main[data-sidebar-showing='true'] {
    transform: translateX(0) translateY(60px);
    width: calc(100vw - 40px);
  }
}
